@model App.GitHub.ViewModel.UserDetailsViewModel

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Usuario @Model.User.Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">                        
                        <div class="col">
                            <b>Id:</b> @Model.User.Id
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>Login:</b> @Model.User.Login
                            <hr />
                        </div>                        
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <b>Url:</b> <a href="@Model.User.HtmlUrl" target="_blank">@Model.User.HtmlUrl</a>
                            <hr />
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <b>Cadastro:</b> @DateTimeOffset.Parse(@Model.User.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss"))
                            <hr />
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <div class="mb-3">
                                <b>Reposiórios:</b> 
                            </div>
                            <div class="table-responsive" id="UserRepositories">
                                @await Html.PartialAsync("_UserRepositories", Model.UserRepositories)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>