@model IEnumerable<App.GitHub.Models.GitHubUserRepository>

<table class="table  table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.html_url)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.html_url)" target="_blank">@item.html_url</a>
                </td>
            </tr>
        }
    </tbody>
</table>